.home-box {
    padding: 15px;
}

.home-title {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1px;
}

.home-page p {
    font-weight: normal;
    margin-top: 10px;
    line-height: 1.6;
}  

.stage-box {
    background-color: black;
    height: 680px;
}

#stage {
    display: block;
    margin: 10px auto;
    width: 500px;
    background-color: black;
    z-index: 100;
}

#stage a {
    position: absolute;
    display: inline-block;
    width: fit-content;
}

#stage a img {
    background: black;
    padding: 15px 0px;
    display: inline;
    width: 500px;
}

@media only screen and (max-width: 600px) {
    #stage {
        display: block;
        margin: 10px auto;
        width: 400px;
        background-color: black;
        z-index: 100;
    }
    #stage a img {
        width: 400px;
    }
}

@media only screen and (max-width: 400px) {
    #stage {
        display: block;
        margin: 10px auto;
        width: 350px;
        background-color: black;
        z-index: 100;
    }
    #stage a img {
        width: 350px;
    }
}

#stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
}
#stage a:nth-of-type(2) {
    z-index: 10;
}
#stage a:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}