.row {
    margin: 80px auto;
}

.video-size {
    width: 560px;
    height: 315px;
    margin: 20px auto;
}

.non-link-header {
    margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
    .video-size {
        width: 500px;
        height: 281px;
    }
}

@media only screen and (max-width: 600px) {
    .video-size {
        width: 400px;
        height: 225px;
    }

    h4 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 400px) {
    .video-size {
        width: 380px;
        height: 214px;
    }
}

